.container-fluid {
  background-color: black;
}
.row {
 text-align: center;
 margin: 0;
} 
.title {
text-align: center;
font-size: 3.5rem;
margin: 30px;	
}

.team-item {
 border: 2px solid black;
 padding: 0.5rem;
 border-radius: 30px;
 margin-bottom: 20px;
 margin: 20px;
 margin-left: 60px;
 border: 2px solid blue;
 background-color: rgb(140, 189, 232);
} 

p {
 font-size: 1.2rem;
 font-family: sans-serif;
}
img {
  width: 200px;
 border-radius: 22%;
 border: 10px solid rgb(78, 71, 87);
 margin-bottom: 20px;
}
.input {
  display: flex;
  justify-content: space-between;
}
.edit {
	padding: 9px 30px;
	border-radius: 30px;
	background-color: rgb(102, 102, 203);
	border: none;
  margin-right: 10px;
  margin-top: 20px;
 
}
.edit:hover {
	background-color: rgb(9, 9, 155);
  color: wheat;
}

.delete {
  padding: 9px 30px;
	border-radius: 30px;
	background-color: rgb(215, 19, 22);
	border: none;
  margin-top: 20px;
}

.delete:hover {
  background-color: rgb(182, 21, 21);
  color: wheat;
}